.section-sep {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("pics/sep.jpg");
  position: relative;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 200px 200px;
  color: white;
  text-align: center;
}

.secion-sep-content {
  position: absolute;
  /* top: 25%; */
  left: 25%;
  right: 25%;
  bottom: 25%;
}
.secion-sep-content p {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
}
.strip {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
